nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") Lolicon Maker
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 引言 INTRO
      li
        a(href="#section_about") 簡介 ABOUT
      li
        a(href="#section_video") 影片 VIDEO
      li
        a(href="#section_ask" target="_blank") 主持人 TUTOR
header.jumbotron
  .container
    h1 蘿莉控實驗室
    hr
    h4 蘿莉教育/蘿莉控的發想創意園地
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 何謂蘿莉控?
        hr
        h5 我也不知道
section#section_about
  .container
    .row
      .col-sm-12
        h1 蘿莉控三部曲
        hr
      
      .col-sm-4
        .img_wrap
          img(src="https://goo.gl/Z42dqh", alt="")
        h3 蘿莉控的精神
        p  蘿莉就是拿來疼的
      .col-sm-4
        .img_wrap
          img(src="https://goo.gl/xAgtLt", alt="")
        h3 蘿莉控課程
        p 不用學你天生就是
      .col-sm-4
        .img_wrap
          img(src="https://goo.gl/1rMXyv", alt="")
        h3 蘿莉控的策略
        p 為蘿莉做牛做馬一輩子
section#section_video
  .col-sm-12
    .container
      .col-sm-12
        h1 影片
        .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://www.youtube.com/embed/qpi21CrHIM0", allowfullscreen="true")